@model List<OrderViewModel>

@{
    ViewData["Title"] = "Orders List";
}

<h3>Orders Management - Overview</h3>

<table class="table">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>User Email</th>
            <th>image</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model)
        {
            <tr class="clickable" onclick="location.href='@Url.Action("Details", "OrderManagement", new { orderId = order.OrderId})'">
                <td>@order.OrderId</td>
                <td>@order.UserEmail</td>
                <td width="50px" height="50px"><img src="@order.ImageUrl" alt="" width="50px" height="50px" /> </td>
                <td>@order.Status</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript">

        var timerId;
        const connection = new signalR.HubConnectionBuilder()
            .withUrl('https://localhost:44303/orderhub')
            .configureLogging(signalR.LogLevel.Debug)
            .withAutomaticReconnect()
            .build();

        connection.on('UpdateOrders', (message, orderId) => {

            const encodedMsg = message + ":" + orderId;
            console.log(encodedMsg);
            if (orderId && orderId.length) {
                toastr.success(orderId + ' Updated to status' + message);
                refreshPage();
            }
        });

        function refreshPage() {
            clearTimeout(timerId);
            timerId = setTimeout(function () {
                window.location.reload();
            }, 1000)
        };

        connection.start().catch(err => console.error(err.toString()));

    </script>
}